<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>赵雯雯的简历</title>
    <meta name="description" content="">
    <meta name="keywords" content="美工,工作,简历">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <link rel="stylesheet" href="../assets/css/fontello.min.css">
    <link rel="stylesheet" href="../assets/css/print.min.css">
    <link rel="stylesheet" href="../assets/css/zoom.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48084758-4', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Header -->
    <style>
        .column .cell .skbg, .column .cell .skco {
            display: inline-block;
            width: 245px;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            color: #ffffff;
            vertical-align: top;
            margin-top: 4px;
            background-color: #dddddd;
            border-radius: 20px;
            #display: inline;
            #zoom: 1
        }

        .column .lh .skco {
            width: 112px !important;
        }

        .column .cell .skco {
            width: 235px;
            font-style: normal;
            margin-top: 0;
            padding-left: 10px;
            background-color: #00A1D6;
            z-index: 3;
        }

        .column .sl .skco {
            width: 173px !important;
        }

        .column .cell .skco {
            width: 235px;
            font-style: normal;
            margin-top: 0;
            padding-left: 10px;
            background-color: #00A1D6;
            z-index: 3;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="title">
            <img src="../images/picture.png" data-action="zoom">
            <h1>赵雯雯</h1>
            <h2>电商美工</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd><i class="icon-phone-1"></i>电话: 13023232231</dd>
                <dd><i class="icon-mail-alt"></i>邮箱: <a href="13023232231@163.com" target="_blank">13023232231@163.com</a>
                </dd>
                <!--<dd><i class="icon-wechat"></i>微信: 才不会告诉你呢</dd>-->
                <!--<dd><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin=245672290&site=qq&menu=yes"-->
                <!--target="_blank">245***290</a></dd>-->
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd>电商美工</dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Skill. 技能清单</dt>
                <ul>
                    <dd>Photoshop</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>Illustrator</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>Dreamweaver</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>CINEMA 4D</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">良好</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                </ul>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Self evaluation. 自我评价</dt>
                <dd>对色彩敏感，具有良好的美感和审美观，掌握平面构成、色彩构成、图案造型、字体设计、标志设计；</dd>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><strong>个人信息:</strong> <span>赵雯雯 / 女</span></dd>
                <dd><strong>毕业院校:</strong> <span>西安电子科技大学</span></dd>
                <dd><strong>专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</strong> <span>计算机科学与应用</span></dd>
                <dd><strong>工作年限:</strong> <span>一年半</span></dd>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                <h3><img src="" data-action="zoom"><span>上海晟锐实业发展有限公司（2017.5 - 至今）</span></h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>罗格朗晟锐专卖店</h4>
                        <p>工作描述：1、独立完成店铺日常设计装修与活动图设计及装修；
                            2、根据公司的活动策划和销售思路；
                            3、了解客户的需求和心理，高效的设计出精美的版式；
                            4、每款产品图片的美化和调整；
                            5、配合技术和公司计划，修改调整页面的细节；</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>三星欣辰专卖店</h4>
                        <p>工作描述：1、独立完成店铺日常设计装修与活动图设计及装修；
                            2、根据公司的活动方案，高效的设计出精美的版式；
                            3、每款产品图片的美化和修改；
                            4、配合技术和公司计划，修改调整页面的细节；</p>
                    </li>
                </ul>
                <h3><img src="" data-action="zoom"><span>临沂大智科技有限公司（2016.6 - 2017.5）</span></h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4></h4>
                        <p>工作描述： 按照需求进行设计与简易代码编写</p>
                        <p>
                            责任描述：1、根据客户需求进行页面设计与修改，完成切图以及简易代码编写
                            2、由研发部共同用 div+css Css3 HTML实现页面的整体架构。
                            3、其次使用bootstrap框架实现页面的响应式布局，让用户获得更好的用户体验服务</p>
                    </li>
                </ul>

                <h3>work1.个人作品</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>网页-电商</span>
                        </h4>
                        <img src="../images/ds/01.png" data-action="zoom">
                        <img src="../images/ds/02.jpg" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>app-foot</span>
                        </h4>
                        <img src="../images/ui/01.png" data-action="zoom">
                        <!--<img src="../images/ui/02.png" data-action="zoom">-->
                        <img src="../images/ui/03.png" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>app-宠物</span>
                        </h4>
                        <img src="../images/ui/04.png" data-action="zoom">
                        <img src="../images/ui/05.png" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>app-幸福家居</span>
                        </h4>
                        <img src="../images/ui/06.png" data-action="zoom">
                        <img src="../images/ui/07.png" data-action="zoom">
                        <img src="../images/ui/08.png" data-action="zoom">
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<script src="../assets/js/zoom.min.js"></script>
</body>
</html>

